@model VideoCreateViewModel;
@{
    ViewBag.Title = "New Registration";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Product List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Product Registration</li>
                </ol>
            </nav><br /><br />

            @*id, name, profilephoto, mobileno1, mobileno2, emailid1, emailid2, adharcardno, adharcardphoto
                , pancardno, pancardphoto, password, gender, DOB, createddate*@

        <form name="form1" method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="fkmoduleid"></label>
                </div>
                <div class="form-group col-md-4">

                    <select name="fkmoduleid" id="fkmoduleid" asp-for="fkmoduleid" class="form-control"
                            asp-items="@(new SelectList(ViewBag.ModuleList,"id","Name"))">


                        <option>--- Select  ---</option>
                    </select>
                    <span asp-validation-for="fkmoduleid" class="text-danger"></span>

                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-3">
                    <label asp-for="type"></label>
                </div>
                <div class="form-group col-md-4">
                    @*<select asp-for="gender" class="form-control" asp-items="Html.GetEnumSelectList<plathora.Entity.Gender>()"></select>*@
                    <select asp-for="type" class="form-control">

                        <option value="Select" selected>-- Select --</option>
                        <option value="Paid">Paid</option>
                        <option value="Unpaid">Unpaid</option>
                    </select>
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>



            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="videoName"></label>
                </div>
                <div class="form-group col-md-4">
                    <input asp-for="videoName" class="form-control" placeholder="Enter Video Name.." />
                    <span asp-validation-for="videoName" class="text-danger"></span>

                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="videoLink"></label>
                </div>
                <div class="form-group col-md-4">
                    <input asp-for="videoLink" class="form-control" placeholder="Enter Video Link.." />
                    <span asp-validation-for="videoLink" class="text-danger"></span>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="description"></label>
                </div>
                <div class="form-group col-md-4">
                    <input asp-for="description" class="form-control" placeholder="Enter Description.." />
                    <span asp-validation-for="description" class="text-danger"></span>

                </div>
            </div>



            <div class="form-group">

                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                <br />
                <br />
                <br />

            </div>
        </form>
        </div>
    </div>
</div>

@*@section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
 
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function() {
        $("#sectorid").change(function () {
             
            var url = '@Url.Content("~/")' + 'Product/getBusinessRegbySectorid';
            var ddlsource = "#sectorid";
            $.getJSON(url,
                { sectorid: $(ddlsource).val() },
                function (data) {
                //   console.log(data);
                    var item = '';
                    $("#businessid").empty();
                    $.each(data, function (i, row) {
                        
                        item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                       // alert(row);
                    });
                    $("#businessid").html(item);
                }
            )
        });
    });
    //function DoPostBack() {
    //   // alert('df');
    //    var select = document.getElementById("countryid");
    //    var option = select.options[select.selectedIndex];
    //    if (option.value != "Please select") {
    //        document.form1.action = "/CityRegistration/GetStates";
    //        document.form1.submit();
    //    }
    //}
</script>