@model AdvertiseCreateViewModel;
@{
    ViewBag.Title = "New Advertise";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Advertise List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Advertise</li>
                </ol>
            </nav><br /><br />

            @*id, pkgId, Amount, description, period, isdeleted, isactive*@

        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control" placeholder="Enter name.." />
                <span asp-validation-for="name" class="text-danger"></span>


            </div>
            <div class="form-row">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" class="form-control" placeholder="Enter Amount.." />
                <span asp-validation-for="Amount" class="text-danger"></span>


            </div>
            <div class="form-row">
                <label asp-for="description"></label>
                <input asp-for="description" class="form-control" placeholder="Enter description.." />
                <span asp-validation-for="description" class="text-danger"></span>


            </div>
            <div class="form-row">
                <label asp-for="period"></label>
                <input asp-for="period" class="form-control" placeholder="Enter period.." />
                <span asp-validation-for="period" class="text-danger"></span>


            </div>

            <br />
            <div class="form-row">
                <label asp-for="gst"></label>
                <input asp-for="gst" class="form-control" placeholder="Enter GST.." />
                <span asp-validation-for="gst" class="text-danger"></span>


            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="img"></label>
                </div>
                <div class="form-group col-md-1">

                </div>
                <div class="form-group col-md-3">
                    <div class="btn btn-primary btn-icon-text">
                        <i class="fas fa-cloud-upload-alt"></i>
                        <input asp-for="img" type="file" value="Upload" />
                        <span asp-validation-for="img" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">

                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                <br />
                <br />
                <br />

            </div>
        </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        alert('ready');
    });
</script>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}