@model ModuleMasterEditViewModel;
@{
    ViewBag.Title = "Edit Module Details";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Module List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Module</li>
                </ol>
            </nav><br /><br />

            @*id, pkgId, Amount, description, period, isdeleted, isactive*@

        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name.." />
                <span asp-validation-for="Name" class="text-danger"></span>


            </div>
            <div class="form-row">
                <label asp-for="amount"></label>
                <input asp-for="amount" class="form-control" placeholder="Enter Amount.." />
                <span asp-validation-for="amount" class="text-danger"></span>


            </div>
          

            <div class="form-group">

                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>
                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                <br />
                <br />
                <br />

            </div>
        </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //alert('ready');
    });
</script>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}